body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, p, a, span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";}

code {
  font-family: Consolas;
}

.card {
  padding: 1px 16px 1px 16px;
  margin: 0 auto 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
  transition: 0.3s;
  border-radius: 5px;
}

.cardMain {
  width: 80%;
}

.cardComment {
  padding: 8px 16px;
  margin-bottom: 8px;
}

.searchCard {
  padding-bottom: 10px;
}

.flexContainer {
  width: 100% - 5px;
  border: solid 2px #EDF0F4;
  flex-wrap: wrap;
  display: flex;
  margin: 1% 5px 1% 0;
  padding: 5px 0 5px 5px;
  cursor: pointer;
}

.flex-container {
  width: 100% ;
  flex-wrap: wrap;
  display: flex;
}
  

.recipePic{
  width: 20%;
  height: auto;
  display: flex;
  margin-right: 25px;
  min-width: 200px;
}

.foodIMG {
  display: block;
  max-width:600px;
  width: 100%;
  height: auto;
  margin-right: 25px;
}

.mainStyle {
  overflow-x: hidden;
  max-width: 100%;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

.App .Content {
  padding-top: 100px;
}

.backButton{
  background-color: white;
  cursor: pointer;
  margin-left: 3px;
}

.backButtonContainer {
  display: flex;
}


body{
  background-image: cross-fade();
}

.comments{
  margin: 0 5%;
  border-bottom: 2px solid gainsboro;
}

.addComment{
  margin: 0 5% 3% 5%;
  height: 30px;
}

#buttonAddComment{
  height:100%;
  width: 24%;
  background-color: #66921B;
  color: white;
  border: none;
  border-radius: 50px;
  margin-left: 5%;
}

.inputComment{
  height: 100%;
  width: 70%;
}


.recipeContainer{
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto 5% auto;
}

react-slideshow-container {
  width: 100%;
  border: none;
}

.zoomIMG{
  width: 100%;
  height: 30vw;
  object-fit: cover;
  cursor: pointer;
}

.box{
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 3vw;
  font-weight: bold;
}

.box .imgCaption{
  position: absolute;
  z-index: 5;
  height: 20%;
  bottom: 0;
  right: 0;
  left: 5%;
  width: 100%; 
  padding-top: 6%;

  background:linear-gradient(rgba(54, 54, 54, 0), 40%, rgb(39, 39, 39));
  color: white;
}

.nav{
  margin-left: 5%;
}


.colorThemeButton {
  background-color: white; 
  color: black; 
  border: 2px solid #66921B;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 16px;
}

.colorThemeButton:hover {
  background-color: #66921B;
  color: white;
}

.invertedColorThemeButton {
  background-color: #66921B; 
  color: white; 
  border: 2px solid white;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 16px;
}

.invertedColorThemeButton:hover {
  background-color: white;
  color: black;
}

.addToShoppingListButton {
  margin-bottom: 13px;
}


.colorThemeDeleteButton{
  background-color: white; 
  color: black; 
  border: 2px solid #e2683c;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 16px;
  float:right;
}

.colorThemeDeleteButton:hover{
  background-color: #e2683c;
  color: white;
}

.shareButtons {
  float: right;
}

.addCommentButton {
  float: right;
}

.searchButton {
  margin: 0 20px 20px 0;
  width: 120px;
}

.textJustify {
  text-align: justify;
  overflow-wrap: break-word;
}

.marginTopButtonTemp{
  margin-top: 5px;
  margin-bottom: 5px;
}

.commentInputStyle {
  margin-bottom: 10px;
  height: 32px;
  width: -webkit-calc(100% - 205px);
  width:    -moz-calc(100% - 205px);
  width:         calc(100% - 205px);
}

body::-webkit-scrollbar {
  width: 5em;
}

.linkStyle {
  text-decoration: none;
  color: black;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 3%;
}

table .listForInt{
  width: 100%;
  color: black;
}

.listForInt:nth-child(even) {background: #a9c45e94}

.listForInt td{
  padding: 10px 0 10px 10px;
}

.tdIngName {
  padding-top: 2px;
}

.tdIngScale {
  padding-right: 30px;
  padding-top: 2px;
}

.ingTable {
  padding-right: 30px;
  padding-top: 2px;
}

ul.indicators{
  margin-bottom: 0;
}

.searchInputs {
  display: flex;
  border: solid 2px #EDF0F4;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 15px;
  height: 10%;
  width: 100%;
}

input:focus {
  outline: none;
}

.dataResult {
  width: 100%;
  height: 30%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

.blockerSmall {
  height: 12px;
}

.recipeName {
  display: flex;
  align-items: center;
  
  /* Remove the next line if you want the span to appear next to the h1 */
  justify-content: space-between;
  
}
.paginationButton:hover {
  background-color: #66921B;
  color: white;
}

.paginationButton {
  position: fixed;
  top: calc(50% - 30px);
  left: -10px;
  overflow: hidden;
  width: 40px;
  height: 50px;
  font-size: 20px;
  background-color: white; 
  color: black; 
  border: 2px solid #66921B;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

.paginationButtonNext {
  right: -10px;
  left: unset;
  padding-left: 6px;
}

.contact-form {
  margin-top: 5%;
  width: 100%;
}
.contact-form .input-block {
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 1px #66921B;
  height: 10%;
  padding: 25px  25px 25px;
  position: relative;
  margin-bottom: 20px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.contact-form .input-block.focus {
  background-color: #fff;
  border: solid 1px #66921B;
}
.contact-form .input-block.textarea {
  height: auto;
}
.contact-form .input-block.textarea .form-control {
  height: auto;
  width: 100%;
  resize: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.input-block label {
  position: absolute;
  left: 25px;
  top: 25px;
  display: block;
  margin: 0;
  font-weight: 300;
  z-index: 1;
  color: #333;
  font-size: 18px;
  line-height: 10px;
}

.form-control {
  width: 100%;
  background-color: transparent;
  padding: 0;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: auto;
  position: relative;
  z-index: 2;
  font-size: 18px;
  outline: none;
}
.contact-form .input-block .form-control:focus label {
  top: 0;
}
.contact-form .square-button {
  background-color: rgba(255, 255, 255, 0.8);
  color: #66921B;
  border: 2px solid #66921B;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0 60px;
  height: 60px;
  
  width: 100%;
}
.contact-form .square-button:hover, .contact-form .square-button:focus {
  background-color: #66921B;
  color: white;
}

/*----page styles---*/

.contact-wrap {
  padding: 15px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  background-color: white;
  color: #66921B;
  border: 2px solid #66921B;
  padding: 40px;
  margin: 0 0 50px;
  font-size: 3vw;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;

  position: relative;
  top: 5px;
 
}

.youtubeIcon{
  height: 40px;
  float: right;
  margin-top: 20px;
  cursor: pointer;
}