body {
  margin: 0;
  font-family: 'Segoe UI';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, p, a, span {
  font-family: 'Segoe UI'
}

code {
  font-family: Consolas;
}